/* #menu-playerSimple {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    background-size: contain;
} */

#item-playerSimple__path {
    display: none;
}

/* #btn-playerSimple {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#btn-playerSimple__svg {
    fill: rgba(0,0,0,.6)
} */

/* Player Simple Mode Styles */
.is-playerSimple .stream__T55I3,
.is-playerSimple .layout-Player-video {
    bottom: 0 !important;
    z-index: 75 !important;
}

.is-playerSimple #menu-playerSimple::before {
    content: "✓ ";
}

.is-playerSimple #item-playerSimple__rect {
    opacity: 1;
}

.is-playerSimple #item-playerSimple__path {
    display: block;
}

/* .is-playerSimple #btn-playerSimple {
    display: block !important;
} */

.is-playerSimple .PlayerToolbar-ContentRow {
    visibility: hidden !important;
}

.is-playerSimple .PELact,
.is-playerSimple .pushTower-wrapper-gf1HG,
.is-playerSimple .PkView-9f6a2c,
.is-playerSimple .MorePk,
.is-playerSimple .RandomPKBar,
.is-playerSimple .LiveRoomLoopVideo,
.is-playerSimple .LiveRoomDianzan,
.is-playerSimple .maiMaitView-68e80c,
.is-playerSimple .PkView {
    display: none !important;
}