/* #refresh-video {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    background-size: contain;
} */

/* #refresh-video2 {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#refresh-video2-svg {
    fill: rgba(0,0,0,.6)
} */